* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5fdf6;
  color: #333;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  overflow-y: auto;
  background-color: #e5fdf6;
}

#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  background-color: #eafcff;
  border-radius: 10px;
  border: 1px solid #1b1b5f;;
}

a {
  text-decoration: overline;
  color: #1b1b5f;
  padding-top: .8rem;
}

a:hover{
  color: #378195;
}

h1 {
  color: #1b1b5f;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

p {
  color: #04389e;
  font-size: .8rem;
  margin-bottom: .4rem;
  font-weight: 600;
}