doctype html
html
  
  head
    title Home
  style  
    include ../styles/home.css


  body
    div#container
      div#welcome
        h1 ¡Bienvenido usuario! 
        h2 Por favor haga click en el botón para continuar         
        button(type='submit' onclick= "window.location.href ='/form'") Formulario 